
{% extends "hearthstone/base.html" %}

{% block content %}
<div class="container pt-4 pb-4">
    <h2>Actuality</h2>

    <div class="row">
      {% for user in users %}
      <div class="col-4 mt-4">
        <h3>{{ user.username }}:</h3>
        <ul class="mt-2 pl-5">
        {% for actual in actuality %}
          {% if actual.user_id == user.id %}
            <li>{{ actual.name }}</li>
          {% endif %}
        {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
</div>

{% endblock content %}
