
{% extends "hearthstone/base.html" %}

{% block content %}

<div class="container my-4">
    <h2>Player {{ user.username }}</h2>

    <div class="row">
      {% if request.user.is_authenticated and request.user.id != user.id %}
      <div class="col-2">
        {% if followed == 1 %}
        <p>Followed! <a href="{% url 'unfollow' user.id %}" class="btn btn-primary">Unfollow</a></p>
        {% else %}
        <a href="{% url 'follow' user.id %}" class="btn btn-primary">Follow</a>
        {% endif %}
      </div>
      <div class="col-2">
        <a href="{% url 'battle' user.id %}" class="btn btn-warning">Fight !</a>
      </div>
        {% endif %}
    </div>
  <div class="row">
      <h3>List of Decks</h3>
      {% for deck in user_decks %}
      <div class="col-4">
        <a href="{% url 'showPlayerDeck' user.id deck.id %}" class="btn btn-light">{{ deck.name }}</a>
      </div>
      {% endfor %}
    </div>

</div>

{% endblock content %}
