
{% extends "hearthstone/base.html" %}

{% block content %}
<div class="row my-5">
  <div class="col-md-12">
    <h2>Player {{ user.username }}</h2>

    <div class="row">
      {% if request.user.is_authenticated and request.user.id != user.id %}
        {% if followed == 1 %}
        <p>Followed! <a href="{% url 'unfollow' user.id %}">Unfollow</a></p>
        {% else %}
        <a href="{% url 'follow' user.id %}">Follow</a>
        {% endif %}
        <a href="{% url 'battle' user.id %}">Fight !</a>
      {% endif %}
      <p>List of Decks</p>
      {% for deck in user_decks %}
      <div class="col-4">
        <a href="{% url 'showPlayerDeck' user.id deck.id %}">{{ deck.name }}</a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}
