*{
    margin: 0;
    padding: 0;
}
#logo{
    width: 200px;
}
#main-content{
    min-height: 82vh;
    background: url("https://d2vkoy1na2a6o6.cloudfront.net/images/fireside-gatherings/tavernBrawlArtBg-41d6364d07eea94cab42a2db9ae0619aa09a933658a7e15dc623daef9ead740520fbb208ca9d8e181d716634a3c25c17d3a8f0ed2bd388b9c12c0aa310167994.jpg");
    background-size: contain;
}
